.num_bl {
  margin: auto;
  display: flex;
  font-size: 72px;
  font-weight: 700;
  justify-content: center;
}

.models {
  margin: 30px 50px;
  text-align: center;
}

.comp {
  font-size: 28px;
  font-weight: 400;
  max-width: 320px;
  max-height: 228px;
}
@media(max-width: 864px) {
  .num_bl {
    display: flex;
    flex-wrap: wrap;
    // height: max-content;
    justify-content: center;
  }

}