.Title{
    margin-top: 80px;
    margin-left: 323px;
    font-size: 40px;
    font-weight: 600;
}
.partners_container{
    padding-left: 324px;
    padding-right: 324px;
    padding-top: 30px;
}

.partners_container img{
    margin-left: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 5px;
}

.RunningBlock_runningLine {
    padding-left: 324px;
    padding-right: 324px;
}

.F {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
