.AchievementsBlock_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reviewsBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
     justify-content: center;
}

.TitleAch{
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.AchievementsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}