.Reg {
    transition: 0.8s ease-in-out;
    position: fixed;
  }
  
  .Reg.unactive {
    transform: translateX(1000px);
    z-index: 100;
    background-color: #fff;
    padding-top: 35px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    border-radius: 35px 0px 0px 35px;
    right: 0;
    top: 0;
    box-shadow: 2px 3px 10px 1px rgba(51, 50, 50, 0.25);
  }
  
  .Reg.active {
    position: fixed;
    background-color: #fff;
    padding-top: 35px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    border-radius: 35px 0px 0px 35px;
    z-index: 100;
    right: 0;
    top: 0;
    box-shadow: 2px 3px 10px 1px rgba(51, 50, 50, 0.25);
    transition: 0.8s ease-in-out;
  }
  
  .Reg_close {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 35px;
  }
  
  .Reg_close img {
    align-self: flex-end;
    justify-content: flex-end;
  }
  
  .Reg_txt {
    padding-top: 20px;
    max-width: 533px;
    font-size: 20px;
    padding-bottom: 50px;
    font-weight: normal;
  }
  
  .Reg_elements {
    display: flex;
    flex-direction: column;
  }
  .Reg_elements button {
    width: 292px;
    height: 69px;
    background-color: #2d2d2d;
    color: white;
    font-weight: 600;
    font-size: 24px;
    border-radius: 20px;
    margin-top: 184px;
    margin-left: 100px;
  }
  
  .but_enter {
    width: 292px;
    height: 69px;
    color: #2d2d2d;
    font-weight: 600;
    font-size: 24px;
    border-radius: 20px;
    margin-top: 184px;
    margin-left: 100px;
  }
  
  .but_cont{
     margin-top: 184px;
  }
  
  .reg_background_active {
    left: 0;
    height: 4000px;
    width: 4000px;
    background-color: rgba(255, 255, 255, 0.349);
    position: fixed;
    z-index: 99;
    margin-top: -200px;
    backdrop-filter: blur(2px);
  }
  
  .Reg_Title{
    margin-bottom: 47px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
  
  .def_form{
    max-width: 673px;
  }
  
  .or{
    text-align: center;
    padding-top: 47px;
    font-size: 22px;
    color: #2d2d2d;
  }
  
  
  