

.AboutBlock_title{
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 323px;
    font-size: 40px;
    font-weight: 600;
}

.card_container1{
    
    margin-left: 323px;
    display: flex;
    flex-direction: row;
    gap: 17px;
    width: 100%;
    max-width: 1273px;
}

.card_container2{
    
    margin-left: 323px;
    
    display: flex;
    flex-direction: row;
    gap:17px;
    width: 100%;
    max-width: 1273px;
}

.InfoBlock1{
    height: 310px !important;
    width: 413px !important;
    border-radius: 16px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
}
