.AboutBlock_title {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.card_container {
  //   margin-left: 323px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
// .InfoBlock1 {
//   border-radius: 16px;
//   margin: 15px;
//   display: flex;
//   flex-direction: column;
// }
.InfoBlock{
    
  // max-height: 310px;
  max-width: 400px;
  border-width: 1.5px;
  border-radius: 16px;
  box-shadow: 0px 5px 5px 1px rgba(112, 111, 111, 0.25);
  background-color: #ffffff;
  margin: 10px;
}
.InfoBlock_title{
  font-weight: 600;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 35px;
}
.InfoBlock_txt{
  font-weight: 400;
  font-size: 18px;
  padding-top: 22px;
  padding-left: 35px;
  padding-right: 20px;
}