.modalWindowInstance {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100%;
  width: 100%;
  background-color: #535353b3;
  transition: opacity 0.5s ease;

  &__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(168, 168, 168);
    padding: 5rem 10rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;

    &__text {
      font-size: 20px;
      text-align: center;
      color: #ffffff;
    }

    &__controls {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 24px;

      &__btn {
        padding: 1rem 3rem;
        background-color: rgb(207, 207, 207);
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: rgb(188, 188, 188);
        }
      }
    }
  }
}
